/* Login Page */
.page-content{
    height: 100vh;
    background: gray;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.input-container {
    height: 50px;
    cursor: text
}

.login-logo {
    margin-bottom: 10px;
    transform: translateY(87px);
    filter: invert(1);
    text-align: left;
}

.form-control.form-control:focus {
    color: #ffffff;
    background-color: #000000;
    outline: 0;
    box-shadow: none;
    transition: 0.5s;
}

.login-content {
    border: unset;
    background: #ffffffc9;
    border-radius: 2px;
}

.login-wrapper {
    min-width: 365px;
    margin-top: -350px;
}

.login-input {
    background-color: #ffffff;
    border: 2px solid grey;
    transition: 0.5s;
}


.login-input:focus {
    border: 2px solid #969696 !important;
    box-shadow: none;
}

.br-red {
    border: 2px solid red !important;
    box-shadow: none;
}

.br-red:focus {
    border: 2px solid red !important;
    box-shadow: none;
}


.login-labels {
    font-size: 16px;
    color: #2c53a6;
    font-weight: bold;
}

.force-left {
    left: 35px;
}

.error-label {
    position: relative;
    top: -50px;
    left: -25px;
    height: 0;
    font-weight: bold
}
